{% extends 'base.html.twig' %}

{% block body %}
    <h1>Customers list</h1>

    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Birthdate</th>
            <th>YoungDriver</th>
        </tr>
        </thead>
        <tbody>
        {% for customer in customers %}
            <tr>
                <td>{{ customer.id }}</td>
                <td>{{ customer.name }}</td>
                <td>{{ customer.birthdate|date('d-m-Y') }}</td>
                <td>{{ customer.isYoungDriver }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
