{% extends 'base.html.twig' %}

{% block body %}
    <h1>Suppliers list</h1>

    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Number of parts made</th>
        </tr>
        </thead>
        <tbody>
        {% for supplier in suppliers %}
        <tr>
            <td>{{ supplier.id }}</td>
            <td>{{ supplier.name }}</td>
            <td>{{ supplier.isImporter }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
