{% block topmenu %}
    <header>
        <a href="{{ path('customer_ascending')}}">Customer</a>
        <a href="{{ path('sale_index')}}">All Sales</a>
        <a href="{{ path('sale_discounted')}}">Discounted Sales</a>
        <a href="{{ path('car_index')}}">Cars</a>
    </header>
{% endblock %}